.textarea {
  height: 100%;
  border-radius: 5px;
  border: 2px solid rgb(127, 165, 198);
}

.propertiesContainer {
  width: 500px;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.textEditorWrapper {
  border-right: 2px solid rgb(127, 165, 198);
}

.previewImageContainer {
  display: inline-flex;
  width: 100%;
  height: auto;
}
